/*********************************** Fonts  ***********************************/
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive;
*/

/****************************** Universal Styles ******************************/

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  padding-top: 70px;
}

.mobile-show {
  display: none;
}

@media only screen and (max-width: 426px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/******************************* Navigation Bar *******************************/
nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.active {
  color: #399bd1 !important;
  /* https://stackoverflow.com/questions/16557637/how-to-change-active-link-color-in-bootstrap-css */
}

/****************************** Carousel Section ******************************/

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron-bike h1 {
    font-family: 'Monoton', cursive;
    font-size: 7.1rem;
}

.jumbotron p {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
