/*********************************** Fonts  ***********************************/
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive;
*/

h1 {
    font-family: 'Monoton', cursive;
    font-size: 7.1rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

/****************************** Universal Styles ******************************/

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body {
  padding-top: 70px;
}

.mobile-show {
  display: none;
}

@media only screen and (max-width: 426px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/******************************* Navigation Bar *******************************/
nav {
  font-size: 1.1rem;
  font-weight: bold;
}

.active {
  color: #399bd1 !important;
  /* https://stackoverflow.com/questions/16557637/how-to-change-active-link-color-in-bootstrap-css */
}

/****************************** Carousel Section ******************************/

.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
}

.jumbotron p {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/************************** Featured Product Section **************************/

#featured-product {
    padding-bottom: 5.85rem;
}

#featured-product h2 {
  padding-bottom: 20px;
}

.image-container {
  overflow: hidden;
  opacity: 0.7;
}

.image-container img {
  height: auto;
  width: 100%;
}

.category-title {
  color: #399bd1;
}

li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}
